{% extends "base.html" %}

{% block content %}
    <h2>Your cart</h2>
<table class="table align-middle">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Brand</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
  <p>Entries in cart {{ object.items.count }}</p>
  {% for item in object.items.all %}
    <tr>
      <th scope="row">2</th>
      <td>{{ item.product.name }}</td>
      <td>{{ item.product.brand }}</td>
      <td>{{ item.product.price }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.get_total_item_price }}</td>
      <td>
      <button type="submit" class="btn btn-danger btn-sm px-3"
              value={{ item.product.get_remove_from_cart_url}} onclick="location.href='{% url 'remove-from-cart' slug=item.product.id %}'">
          Remove from cart
      </button>

      </td>

    </tr>
  {% endfor %}
  </tbody>
</table>
      <hr class="mb-4">
  <button class="btn btn-primary btn-lg btn-block" type="submit"  onclick="location.href='{% url 'checkout' %}'">Proceed to checkout</button>
{% endblock %}